
  
import("AlphaSimR")
import("Matrix")
import("dplyr")
import("bWGR")
import("ggplot2")

importFrom("grDevices", "as.raster", "col2rgb", "colorRampPalette",
             "rgb")
importFrom("graphics", "axis", "grid", "layout", "lines", "points",
             "rasterImage", "text", "legend", "par")
importFrom("stats", "na.omit", "quantile", "var", "as.formula","model.matrix",
           "median","rnorm")

export( "sparset", "simGECorMat0", "addZeros" )

export(
        "plot.sparsetMod"
              )


